body {;
    background: #bdc3c7;
}

h1 {
    color: #9b59b6;
}

h2 {
    color: #FFA500;
}

li {
    color: 0000ff;
}

p {
    background: #FFFF00;
}

input {
    border: 3px solid red;
}

.hello {
    background: #ffffff;
}

#special {
    border: 2px solid rgb(0, 100, 200);
}

div p {
    font-size: 25px;
}

input[type="text"] {
    background: #ffffff;
}

div:nth-of-type(3) p {
    background-color: #FFC0CB;
}

div:nth-of-type(3) p:nth-of-type(2) {
    border: 5px solid white;
}

div:nth-of-type(3) em {
    color: #ffffff;
    font-size: 20px;
}

input[type="checkbox"]:checked {
    margin-left: 50px;
}

label {
    text-transform: uppercase;
}

#special::first-letter {
    color : #008000;
    font-size: 100px;
}
}

h1:hover {
    color: #0000ff;
}

a:visted {
    color: #808080;
}
